---
# DNF Handlers -------------------------------------
- name: Set APM injection languages and versions for Redhat
  set_fact:
    agent_dd_apm_install_pkgs: "{{ (agent_dd_apm_install_pkgs |
      default([], true)) + ['datadog-apm-library-' + (item | regex_replace('[:]', '-'))] }}"
  loop: "{{ pre_processed_datadog_apm_libraries | default([], true) }}"
  when: not ansible_check_mode and ansible_pkg_mgr == "dnf"

- name: Install APM inject library (dnf)
  dnf:
    name: 'datadog-apm-inject'
    update_cache: true
    state: latest # noqa package-latest
  when: not ansible_check_mode and ansible_pkg_mgr == "dnf" and (not datadog_installer_enabled or not datadog_installer_owns_injector)

- name: Install APM inject libraries (dnf)
  dnf:
    name: "{{ (item | default([], true)) }}"
    state: "{{ 'present' if '-1' in item else 'latest' }}" # noqa package-latest
  loop: "{{ agent_dd_apm_install_pkgs }}"
  when: not ansible_check_mode and ansible_pkg_mgr == "dnf"
# End DNF Handlers ----------------------------------

# Yum Handlers  -------------------------------------
- name: Install APM inject library (yum)
  yum:
    name: 'datadog-apm-inject'
    update_cache: true
    state: latest # noqa package-latest
  when: not ansible_check_mode and ansible_pkg_mgr == "yum" and (not datadog_installer_enabled or not datadog_installer_owns_injector)

- name: Install APM inject libraries (yum)
  yum:
    name: "{{ (item | default([], true)) }}"
    state: "{{ 'present' if '-1' in item else 'latest' }}" # noqa package-latest
  loop: "{{ agent_dd_apm_install_pkgs }}" # noqa package-latest
  when: not ansible_check_mode and ansible_pkg_mgr == "yum"
# End Yum Handlers ----------------------------------
