---
- name: Set APM injection languages and versions for Redhat
  set_fact:
    agent_dd_apm_install_pkgs: "{{ (agent_dd_apm_install_pkgs |
      default([], true)) + ['datadog-apm-library-' + (item | regex_replace('[:]', '-')) + '-1'] }}"
  loop: "{{ datadog_apm_instrumentation_libraries }}"

# DNF Handlers -------------------------------------
- name: Install APM inject library (dnf)
  dnf:
    name: 'datadog-apm-inject'
    update_cache: true
    state: latest # noqa package-latest
  when: not ansible_check_mode and ansible_pkg_mgr == "dnf"

- name: Install APM inject libraries (dnf)
  dnf:
    name: "{{ (item | default([], true)) }}"
    state: "{{ 'present' if '-' in item else 'latest' }}" # noqa package-latest
  loop: "{{ agent_dd_apm_install_pkgs }}" # noqa package-latest
  when: not ansible_check_mode and ansible_pkg_mgr == "dnf"
# End DNF Handlers ----------------------------------

# Yum Handlers  -------------------------------------
- name: Install APM inject library (yum)
  yum:
    name: 'datadog-apm-inject'
    update_cache: true
    state: latest # noqa package-latest
  when: not ansible_check_mode and ansible_pkg_mgr == "yum"

- name: Install APM inject libraries (yum)
  yum:
    name: "{{ (item | default([], true)) }}"
    state: "{{ 'present' if '-' in item else 'latest' }}" # noqa package-latest
  loop: "{{ agent_dd_apm_install_pkgs }}" # noqa package-latest
  when: not ansible_check_mode and ansible_pkg_mgr == "yum"
# End Yum Handlers ----------------------------------
