---
- name: Set installation target for latest
  ansible.builtin.set_fact:
    # Apply a version cap if required, otherwise just target the agent package
    datadog_agent_target: >-
      {{ datadog_agent_flavor }}
      {% if datadog_agent_max_minor_version is defined %}
       < 1:{{ agent_datadog_agent_major_version }}.{{ datadog_agent_max_minor_version + 1 }}.0-1
      {% endif %}

- name: Install latest datadog-agent package (dnf)
  ansible.builtin.dnf:
    name: "{{ datadog_agent_target }}"
    update_cache: true
    state: latest # noqa package-latest
    disablerepo: "appstream"
  register: agent_datadog_agent_install
  when: not ansible_check_mode
  notify: restart datadog-agent
