---
- name: Validate integrations actions
  ansible.builtin.fail:
    msg: "Unkown action '{{ item.value.action }}' for integration command ({{ item.key }}). Valid actions are 'install' and 'remove'"
  when: item.value.action != "install" and item.value.action != "remove"
  loop: "{{ datadog_integration | dict2items }}"

# The Windows tasks use win_command, so if users don't have the "ansible.windows" collection
# installed, parsing the task would fail even if the host is not Windows. By hiding the task
# inside a conditionally included file, we can prevent this.
- name: Include Windows Integration Tasks
  ansible.builtin.include_tasks: integration/windows.yml
  when: ansible_facts.os_family == "Windows"

- name: Include macOS Integration Tasks
  ansible.builtin.include_tasks: integration/macos.yml
  when: ansible_facts.os_family == "Darwin"

- name: Include Linux Integration Tasks
  ansible.builtin.include_tasks: integration/linux.yml
  when: ansible_facts.os_family != "Darwin" and ansible_facts.os_family != "Windows"
