---
- name: Fail if OS is not supported
  ansible.builtin.fail:
    msg: "The Datadog Ansible role does not support your OS yet. Please email support@datadoghq.com to open a feature request."
  when: ansible_facts.os_family not in ["RedHat", "Rocky", "AlmaLinux", "Debian", "Suse", "Windows", "Darwin"]
