---
- name: Get macOS Agent version
  ansible.builtin.shell:
    cmd: set -o pipefail && {{ datadog_agent_binary_path_macos }} version | grep 'Agent ' | awk '{print $2}'
    executable: /bin/bash
  register: agent_datadog_version_check_macos
  changed_when: false
  failed_when: false
  check_mode: false
  when: ansible_facts.os_family == "Darwin"
