---
# This task removes the legacy installer package and systemd services
- name: Remove legacy installer package
  ansible.builtin.package:
    name: datadog-installer
    state: absent
  when: not ansible_check_mode

- name: Stop legacy systemd services
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: stopped
    enabled: false
  when: not ansible_check_mode
  failed_when: false
  loop:
    - datadog-installer-exp.service
    - datadog-installer.service

- name: Remove legacy systemd services
  ansible.builtin.file:
    name: "{{ item }}"
    state: absent
  when: not ansible_check_mode
  failed_when: false
  loop:
    - /etc/systemd/system/datadog-installer-exp.service
    - /etc/systemd/system/datadog-installer.service
    - /lib/systemd/system/datadog-installer-exp.service
    - /lib/systemd/system/datadog-installer.service
    - /usr/lib/systemd/system/datadog-installer-exp.service
    - /usr/lib/systemd/system/datadog-installer.service

- name: Reload systemd units
  ansible.builtin.systemd:
    daemon_reload: true
  when: not ansible_check_mode
