---
# This task removes the legacy installer package and systemd services
# It is non-blocking as it is only useful for customers that have not upgraded to the new installer yet.
- name: Remove legacy installer package
  ansible.builtin.package:
    name: "{{ datadog_installer_flavor }}"
    state: absent
  when: not ansible_check_mode
  failed_when: false
  changed_when: false

- name: Remove legacy systemd services
  ansible.builtin.file:
    name: "{{ item }}"
    state: absent
  when: not ansible_check_mode
  failed_when: false
  loop:
    - /etc/systemd/system/datadog-installer-exp.service
    - /etc/systemd/system/datadog-installer.service
    - /lib/systemd/system/datadog-installer-exp.service
    - /lib/systemd/system/datadog-installer.service
    - /usr/lib/systemd/system/datadog-installer-exp.service
    - /usr/lib/systemd/system/datadog-installer.service
