---
# This task removes the legacy installer package and systemd services
# Note: We use specific package manager modules instead of ansible.builtin.package
# because the package module has issues with Python 3 on Amazon Linux 2023 and other distributions
- name: Remove legacy installer package (dnf)
  ansible.builtin.dnf:
    name: datadog-installer
    state: absent
  when: ansible_pkg_mgr == 'dnf'

- name: Remove legacy installer package (yum)
  ansible.builtin.yum:
    name: datadog-installer
    state: absent
  when: ansible_pkg_mgr == 'yum'

- name: Remove legacy installer package (apt)
  ansible.builtin.apt:
    name: datadog-installer
    state: absent
  when: ansible_pkg_mgr == 'apt'

- name: Remove legacy installer package (zypper)
  ansible.builtin.command:
    cmd: zypper remove -y datadog-installer
  when: ansible_pkg_mgr == 'zypper'
  register: zypper_result
  changed_when: "'datadog-installer' in zypper_result.stdout"
  failed_when: zypper_result.rc != 0 and 'not installed' not in zypper_result.stderr

- name: Stop legacy systemd services
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: stopped
    enabled: false
  failed_when: false
  loop:
    - datadog-installer-exp.service
    - datadog-installer.service

- name: Remove legacy systemd services
  ansible.builtin.file:
    name: "{{ item }}"
    state: absent
  failed_when: false
  loop:
    - /etc/systemd/system/datadog-installer-exp.service
    - /etc/systemd/system/datadog-installer.service
    - /lib/systemd/system/datadog-installer-exp.service
    - /lib/systemd/system/datadog-installer.service
    - /usr/lib/systemd/system/datadog-installer-exp.service
    - /usr/lib/systemd/system/datadog-installer.service

- name: Reload systemd units
  ansible.builtin.systemd:
    daemon_reload: true
  failed_when: false
