---
- name: Build language telemetry map
  set_fact:
    telemetry_library_key:
      java: specified_java_lib_version
      js: specified_nodejs_lib_version
      dotnet: specified_dotnet_lib_version
      python: specified_python_lib_version
      ruby: specified_ruby_lib_version

- name: Build APM library installation payloads for telemetry
  set_fact:
    telemetry_payload:
      "{{ telemetry_payload | default({}) |
          combine({telemetry_library_key[item.split(':')[0]]:
            item.split(':')[1] | default('default')}) }}"
  loop: "{{ pre_processed_datadog_apm_libraries | default([], true) }}"

- name: Build telemetry request
  set_fact:
    telemetry_request:
      request_type: 'apm-onboarding-event'
      api_version: 'v2'
      application:
        service_name: "{{ ansible_hostname }}"
      payload:
        event_name: 'agent.injection.success'
        tags: "{{ {'install_time': ansible_date_time.epoch | int,
                   'install_type': 'ansible'} |
                   combine(telemetry_payload | default({})) }}"

- name: Send installation telemetry to Datadog
  uri:
    url: "{{ datadog_apm_telemetry_endpoint }}"
    method: POST
    return_content: true
    body_format: json
    body: "{{ telemetry_request }}"
    headers:
      DD-API-KEY: "{{ datadog_api_key }}"
    status_code: 202
  failed_when: false
  changed_when: false
  when: not ansible_check_mode
