---
version: 2.1

commands:
  dry_run:
    parameters:
      version:
        type: string
      python:
        type: string
    steps:
      - run: ansible-playbook -i ./ci_test/inventory/ci.ini "./ci_test/install_agent_<<parameters.version>>.yaml" -e 'ansible_python_interpreter=/usr/bin/<<parameters.python>>' --check
      - run: ansible-playbook -i ./ci_test/inventory/ci.ini "./ci_test/downgrade_to_5.yaml" -e 'ansible_python_interpreter=/usr/bin/<<parameters.python>>' --check

  install_agent_5:
    parameters:
      python:
        type: string
    steps:
      - run: ansible-playbook -i ./ci_test/inventory/ci.ini "./ci_test/install_agent_5.yaml" -e 'ansible_python_interpreter=/usr/bin/<<parameters.python>>'
      - run: dd-agent info || true
      - run: ps aux | grep -v grep | grep datadog-agent

  install_agent:
    parameters:
      version:
        type: string
      python:
        type: string
      jinja2_native:
        type: string
        default: "false"
      inventory:
        type: string
        default: "ci.ini"
    steps:
      - run: ANSIBLE_JINJA2_NATIVE="<<parameters.jinja2_native>>" ansible-playbook -i ./ci_test/inventory/<<parameters.inventory>> "./ci_test/install_agent_<<parameters.version>>.yaml" -e 'ansible_python_interpreter=/usr/bin/<<parameters.python>>'
      - run: datadog-agent version

  test_install_no_manage_config:
    parameters:
      version:
        type: string
      python:
        type: string
    steps:
      - run: ansible-playbook -i ./ci_test/inventory/ci.ini "./ci_test/install_agent_<<parameters.version>>.yaml" -e '{"ansible_python_interpreter":"/usr/bin/<<parameters.python>>","datadog_manage_config":false}'
      - run: bash -c '[ -f /etc/datadog-agent/datadog.yaml.example ] || [ -f /etc/dd-agent/datadog.conf.example ]'
      - run: bash -c '[ ! -f /etc/datadog-agent/datadog.yaml ] && [ ! -f /etc/datadog-agent/system-probe.yaml ] && [ ! -f /etc/datadog-agent/security-agent.yaml ] && [ ! -f /etc/dd-agent/datadog.conf ]'

  downgrade_agent_5_32:
    parameters:
      python:
        type: string
    steps:
      - run: ansible-playbook -i ./ci_test/inventory/ci.ini "./ci_test/downgrade_to_5.yaml" -e 'ansible_python_interpreter=/usr/bin/<<parameters.python>>'
      - run: dd-agent info || true
      - run: ps aux | grep -v grep | grep datadog-agent

  test_agent_install_downgrade:
    parameters:
      version:
        type: string
      python:
        type: string
    steps:
      - checkout
      - dry_run:
          version: "<<parameters.version>>"
          python: "<<parameters.python>>"
      - install_agent_5:
          python: "<<parameters.python>>"
      - when:
          condition:
            not:
              equal: [<<parameters.version>>, "5"]
          steps:
            - install_agent:
                version: "<<parameters.version>>"
                python: "<<parameters.python>>"
      - downgrade_agent_5_32:
          python: "<<parameters.python>>"

  test_agent_install:
    parameters:
      version:
        type: string
      python:
        type: string
      jinja2_native:
        type: string
        default: "false"
    steps:
      - checkout
      - install_agent:
          version: "<<parameters.version>>"
          python: "<<parameters.python>>"
          jinja2_native: "<<parameters.jinja2_native>>"

  test_agent_install_macos:
    parameters:
      version:
        type: string
      python:
        type: string
      jinja2_native:
        type: string
        default: "false"
    steps:
      - checkout
      - install_agent:
          version: "<<parameters.version>>"
          python: "<<parameters.python>>"
          jinja2_native: "<<parameters.jinja2_native>>"
          inventory: "ci_macos.ini"

jobs:
  ansible_lint:
    docker:
      - image: datadog/docker-library:ansible_debian_2_10
    steps:
      - checkout
      - run: ci_test/ansible_lint.sh

  test_install_downgrade:
    parameters:
      ansible_version:
        type: string
      agent_version:
        type: string
      os:
        type: string
      python:
        type: string
    docker:
      - image: datadog/docker-library:ansible_<<parameters.os>>_<<parameters.ansible_version>>
    steps:
      - checkout
      - test_agent_install_downgrade:
          version: "<<parameters.agent_version>>"
          python: "<<parameters.python>>"

  test_install:
    parameters:
      ansible_version:
        type: string
      agent_version:
        type: string
      os:
        type: string
      python:
        type: string
      jinja2_native:
        type: string
        default: "false"
    docker:
      - image: datadog/docker-library:ansible_<<parameters.os>>_<<parameters.ansible_version>>
    steps:
      - checkout
      - test_agent_install:
          version: "<<parameters.agent_version>>"
          python: "<<parameters.python>>"
          jinja2_native: "<<parameters.jinja2_native>>"

  test_install_no_manage_config:
    parameters:
      ansible_version:
        type: string
      agent_version:
        type: string
      os:
        type: string
      python:
        type: string
    docker:
      - image: datadog/docker-library:ansible_<<parameters.os>>_<<parameters.ansible_version>>
    steps:
      - checkout
      - test_install_no_manage_config:
          version: "<<parameters.agent_version>>"
          python: "<<parameters.python>>"

  test_install_macos:
    parameters:
      ansible_version:
        type: string
      agent_version:
        type: string
      python:
        type: string
      jinja2_native:
        type: string
        default: "false"
    macos:
      xcode: 13.4.1
    steps:
      - checkout
      - run:
          name: Install Rosetta 2
          command: printf 'A\n' | sudo softwareupdate --install-rosetta
      - run:
          name: Install Python3
          command: brew install python@3.11
      - run:
          name: Install Ansible
          command: pip3 install ansible~=<<parameters.ansible_version>>
      - test_agent_install_macos:
          version: "<<parameters.agent_version>>"
          python: "<<parameters.python>>"
          jinja2_native: "<<parameters.jinja2_native>>"

  test_apm_injection:
    parameters:
      ansible_version:
        type: string

    machine:
      image: ubuntu-2204:2023.10.1 # includes docker and docker-compose

    steps:
      - checkout
      # these repos have expired GPG keys and make APT fail (and we don't need them)
      - run: sudo rm /etc/apt/sources.list.d/*
      - run: pip3 install ansible==<<parameters.ansible_version>>
      - run: ansible-playbook --become -i ./ci_test/inventory/ci.ini "./ci_test/install_agent_7_apm_python.yaml"
      - run: sudo datadog-agent status || true
      - run: ps aux | grep -v grep | grep datadog-agent
      - run: git -C /tmp clone https://github.com/DataDog/system-tests.git
      - run: cd /tmp/system-tests/lib-injection/build/docker/python/dd-lib-python-init-test-django && sudo docker build -t system-tests/local .
      - run: sudo docker run -d --name test-app-python -p 5985:18080 system-tests/local:latest
      - run: curl --retry 10 --retry-max-time 30 --retry-all-errors localhost:5985
      # verify that the emitted trace is in trace-agent log
      - run: timeout 70 grep -m 1 "lang:python" <(tail -F /var/log/datadog/trace-agent.log)

  test_apm_injection_all:
    parameters:
      ansible_version:
        type: string

    machine:
      image: ubuntu-2204:2023.10.1 # includes docker and docker-compose

    steps:
      - checkout
      # these repos have expired GPG keys and make APT fail (and we don't need them)
      - run: sudo rm /etc/apt/sources.list.d/*
      - run: pip3 install ansible==<<parameters.ansible_version>>
      - run: ansible-playbook --become -i ./ci_test/inventory/ci.ini "./ci_test/install_agent_7_apm_all.yaml"
      - run: sudo datadog-agent status || true
      - run: ps aux | grep -v grep | grep datadog-agent
      - run: >
          bash -c 'for tracer in ["java", "js", "dotnet", "python", "ruby"]; do
            print "Checking $tracer";
            sudo datadog-installer is-installed datadog-apm-library-$tracer;
          done'

  test_installer:
    parameters:
      ansible_version:
        type: string
      jinja2_native:
        type: string
        default: "false"
      os:
        type: string
      inventory:
        type: string
        default: "ci.ini"
      apm_enabled:
        type: string
      remote_updates:
        type: string
    docker:
      - image: datadog/docker-library:ansible_<<parameters.os>>_<<parameters.ansible_version>>
    steps:
      - checkout
        # datadog-installer will bailout if there's no systemctl binary, and won't attempt to
        # create the systemd folder to store its units
        # Since we're running the tests in a docker container without systemd, we can "help" it
        # proceed by pretending systemd is there
      - run: printf "#!/bin/bash\n\nexit 0" > /usr/bin/systemctl && chmod +x /usr/bin/systemctl
      - run: mkdir -p /etc/systemd/system/
      - run: >
          ANSIBLE_JINJA2_NATIVE="<<parameters.jinja2_native>>" ansible-playbook
          -i ./ci_test/inventory/<<parameters.inventory>> "./ci_test/install_installer.yaml"
          -e datadog_apm_instrumentation_enabled="<<parameters.apm_enabled>>"
          -e datadog_remote_updates="<<parameters.remote_updates>>"
      - run: >
          bash -c 'if [ -n "<<parameters.apm_enabled>>" ] || [ "<<parameters.remote_updates>>" = "true" ]; then
              datadog-installer version;
            elif command -v datadog-installer; then
              echo datadog-installer should not be installed;
              exit 2;
            else
              echo datadog-installer is not installed as expected;
            fi
            if [ "<<parameters.remote_updates>>" = "true" ]; then
              if [ -d /opt/datadog-agent ]; then
                echo "The agent should NOT have been installed by the distribution";
                exit 1;
              fi
            else
              if [ ! -d /opt/datadog-agent ]; then
                echo "The agent should have been installed by the distribution";
                exit 1;
              fi
            fi'

  test_installer_suse:
    parameters:
      ansible_version:
        type: string
      jinja2_native:
        type: string
        default: "false"
      inventory:
        type: string
        default: "ci.ini"
    docker:
      - image: datadog/docker-library:ansible_suse_<<parameters.ansible_version>>
    steps:
      - checkout
        # datadog-installer will bailout if there's no systemctl binary, and won't attempt to
        # create the systemd folder to store its units
        # Since we're running the tests in a docker container without systemd, we can "help" it
        # proceed by pretending systemd is there
      - run: printf "#!/bin/bash\n\nexit 0" > /usr/bin/systemctl && chmod +x /usr/bin/systemctl
      - run: mkdir -p /etc/systemd/system/
      - run: >
          ANSIBLE_JINJA2_NATIVE="<<parameters.jinja2_native>>" ansible-playbook
          -i ./ci_test/inventory/<<parameters.inventory>> "./ci_test/install_installer.yaml"
          -e datadog_remote_updates="true"
      - run: >
          bash -c 'datadog-installer version;
              if [ ! -d /opt/datadog-packages/datadog-agent ]; then
                echo "The agent should have been installed by the installer";
                exit 1;
              fi
              if [ -d /opt/datadog-agent ]; then
                echo "The agent should NOT have been installed by the distribution";
                exit 1;
              fi'

  test_installer_over_pinned:
    docker:
      - image: datadog/docker-library:ansible_centos_2_10
    steps:
      - checkout
        # datadog-installer will bailout if there's no systemctl binary, and won't attempt to
        # create the systemd folder to store its units
        # Since we're running the tests in a docker container without systemd, we can "help" it
        # proceed by pretending systemd is there
      - run: printf "#!/bin/bash\n\nexit 0" > /usr/bin/systemctl && chmod +x /usr/bin/systemctl
      - run: mkdir -p /etc/systemd/system/
      - run: DD_API_KEY=woof DD_SITE="datadoghq.com" DD_INSTALL_ONLY=true DD_AGENT_MINOR_VERSION=53 bash -c "$(curl -L https://install.datadoghq.com/scripts/install_script_agent7.sh)"
      - run: >
          ansible-playbook -v -i ./ci_test/inventory/ci.ini "./ci_test/install_installer_over_pinned.yaml"

  test_incorrect_rhel6_detect:
    # Ensure some RHEL derivatives aren't incorrectly detected as RHEL 6
    docker:
      - image: datadog/docker-library:ansible_<<parameters.os>>_<<parameters.ansible_version>>
    parameters:
      jinja2_native:
        type: string
        default: "false"
      os:
        type: string
      ansible_version:
        type: string
      python:
        type: string
    steps:
      - checkout
      - run: ANSIBLE_JINJA2_NATIVE="<<parameters.jinja2_native>>" ansible-playbook -i ./ci_test/inventory/ci.ini ./ci_test/install_agent_7_pinned.yaml -e 'ansible_python_interpreter=/usr/bin/<<parameters.python>>'
      - run: datadog-agent version

workflows:
  version: 2
  test_datadog_role:
    # Note: Ansible 5.* requires Python >= 3.8, which for now we only have on Debian.
    # Whenever newer major versions of RHEL and SUSE get released, they should have
    # a new enough Python, so we will test on them as well
    jobs:
      - ansible_lint
      - test_install_downgrade:
          matrix:
            parameters:
              ansible_version: ["2_6", "2_7", "2_8"]
              agent_version: ["5", "6", "7"]
              os: ["debian"]
              python: ["python2", "python3"]

      # Newer debian images only have Pythpn 3 installed
      - test_install_downgrade:
          matrix:
            parameters:
              ansible_version: ["2_10", "3_4", "4_10", "5_3", "9_4"]
              agent_version: ["5", "6", "7"]
              os: ["debian"]
              python: ["python3"]

      # Newer debian images only have Pythpn 3 installed
      - test_install_no_manage_config:
          matrix:
            parameters:
              ansible_version: ["2_10", "3_4", "4_10"]
              agent_version: ["5", "7"]
              os: ["debian"]
              python: ["python3"]

      # centos = CentOS 7. CentOS <= 7 + Python3 is not supported,
      # as the yum module is Python2-only.
      - test_install_downgrade:
          matrix:
            parameters:
              ansible_version: ["2_6", "2_7", "2_8", "2_9", "2_10", "3_4", "4_10"]
              agent_version: ["5", "6", "7"]
              os: ["centos"]
              python: ["python2"]

      # We want to check that the dnf path works with CentOS 8
      # Newer CentOS images only have Pythpn 3 installed
      - test_install:
          matrix:
            parameters:
              ansible_version: ["2_8", "2_10", "3_4", "4_10", "9_4"]
              agent_version: ["6", "7"]
              jinja2_native: ["true", "false"]
              os: ["rocky8"]
              python: ["python3"]

      # Newer suse images only have Python 3 installed
      - test_install:
          matrix:
            parameters:
              ansible_version: ["2_8", "2_10", "3_4", "4_10", "9_4"]
              agent_version: ["6", "7"]
              os: ["suse"]
              python: ["python3"]

      # Amazon Linux 2 has yum only by default => we only use Python 3 with Ansible >= 4.10
      # because of the respawn_module functionality added to the yum module in
      # https://github.com/ansible/ansible/commit/4c5ce5a1a9e79a845aff4978cfeb72a0d4ecf7d6
      - test_install:
          matrix:
            parameters:
              ansible_version: ["2_8", "2_9", "2_10", "3_4", "4_10"]
              agent_version: ["6", "7"]
              os: ["amazonlinux2"]
              python: ["python2"]

      - test_install:
          matrix:
            parameters:
              ansible_version: ["4_10"]
              agent_version: ["6", "7"]
              os: ["amazonlinux2"]
              python: ["python3"]

      - test_install_macos:
          matrix:
            parameters:
              ansible_version: ["2.8", "2.9", "2.10", "3.4", "4.10"]
              agent_version: ["6_macos", "7_macos"]
              python: ["python3"]

      - test_apm_injection:
          matrix:
            parameters:
              ansible_version: ["6.7.0"]

      - test_apm_injection_all:
          matrix:
            parameters:
              ansible_version: ["6.7.0"]

      - test_installer:
         matrix:
           parameters:
              ansible_version: ["2_10", "3_4", "4_10"]
              os: ["debian", "centos", "amazonlinux2"]
              apm_enabled: ["host", ""]
              remote_updates: ["true", "false"]

      - test_installer_suse:
         matrix:
           parameters:
              ansible_version: ["2_10", "3_4", "4_10"]

      - test_installer_over_pinned

      - test_incorrect_rhel6_detect:
         matrix:
           parameters:
              ansible_version: ["4_10"]
              os: [ "amazonlinux2023"]
              python: ["python3"]
