---

- name: restart datadog-agent-sysprobe
  service:
    name: datadog-agent-sysprobe
    state: restarted
  when: datadog_enabled and datadog_sysprobe_enabled and not ansible_check_mode and not ansible_facts.os_family == "Windows"

- name: restart datadog-agent
  service:
    name: datadog-agent
    state: restarted
  when: datadog_enabled and not ansible_check_mode and not ansible_facts.os_family == "Windows"

- include_tasks: handlers/main-win.yaml
  when: ansible_facts.os_family == "Windows"
