# Managed by Ansible

{% if system_probe_config is defined and system_probe_config | default({}, true) | length > 0 -%}
system_probe_config:
{# The "first" option in indent() is only supported by jinja 2.10+
  while the old equivalent option "indentfirst" is removed in jinja 3.
  Using non-keyword argument in indent() to be backward compatible.
#}
{% filter indent(2, True) %}
{{ system_probe_config | to_nice_yaml }}
{% endfilter %}
{% endif %}

{% if network_config is defined and network_config | default({}, true) | length > 0 -%}
network_config:
{# The "first" option in indent() is only supported by jinja 2.10+
  while the old equivalent option "indentfirst" is removed in jinja 3.
  Using non-keyword argument in indent() to be backward compatible.
#}
{% filter indent(2, True) %}
{{ network_config | to_nice_yaml }}
{% endfilter %}
{% endif %}
