---
- name: Check if Fleet Automation installation exists
  ansible.builtin.stat:
    path: /opt/datadog-packages/datadog-agent
  register: fleet_install
  when: datadog_agent_binary_path is not defined

- name: Set Agent binary path
  ansible.builtin.set_fact:
    datadog_agent_binary_path: "{{ '/bin/datadog-agent' if fleet_install.stat.exists else '/opt/datadog-agent/bin/agent/agent' }}"
  when: datadog_agent_binary_path is not defined

- name: Set Agent user for integration commmand
  ansible.builtin.set_fact:
    integration_command_user: "{{ integration_command_user_linux }}"

- name: Include shared integration installation and removal tasks
  ansible.builtin.include_tasks: integration/_linux-macos-shared.yml
  loop: "{{ datadog_integration | dict2items }}"
